
	<div>

		<h2><%= post.name %> <h2>
		<p><%= post.description %><p>

	</div>

	<div>
		<h2> Comments </h2>
			<% @comments.each do |comment| %>
			<div>
				<h3><%= comment.name%></h3>
				<p> <%= comment.description %></p>

			</div>
		<% end%>
	</div>
